.case {
    position: absolute;
    width: 800px;
    height: 30px;
    overflow: hidden;
    left: calc(50% - 400px);
    top: 150px;
}
.case .part1 {
    float: left;
    width: 5%;
    height: 30px;
}
.case .part1 img {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
}
.case .part2 {
    float: left;
    width: 93%;
    height: 30px;
    text-indent: 1em;
    overflow: hidden;
}
#part2 ul {
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}
#part2 ul li {
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #575757;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
