<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数组循环</title>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

</head>

<body>
    <!-- <div ng-app="" ng-init="names=['jani','Hege','Kai']">
        <p>
        使用ng-repeat 来循环数组
        </p>
        <ul>
            <li ng-repeat="x in names">
                {{x}}
            </li>
        </ul>

    </div> -->
    <div ng-app="" ng-init="names=[
    {name:'jone',age:18},
    {name:'jone',age:18},
    {name:'jone',age:18}]">
        <p>
            使用ng-repeat 来循环数组
        </p>
        <ul>
            <li ng-repeat="x in names">
                {{x.name+','+x.age}}
            </li>
        </ul>

    </div>
</body>

</html>