<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模块定义</title>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script> 
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        名字:<input type="text" ng-model="firstname"><br>
        性:<input type="text" ng-model="lastname"><br>
        <br>
        姓名:{{firstname +""+ lastname}}
    </div>
    <script>
        // AngularJS模块定义
        var app = angular.module('myApp',[]);
        
        
        // AngularJS控制器及应用
        app.controller('myCtrl',function($scope){
            // $scope.firstname="jone";
            // $scope.lastname="li";
        })
    </script>
</body>
</html>